@inherits LayoutComponentBase
@using GestorGanadero.Client.Layout

<div class="app-shell">
    <TopNav />

    <nav class="nav-tabs">
        <NavLink href="" Match="NavLinkMatch.All" class="nav-tab" ActiveClass="active">
            Eventos
        </NavLink>
        <NavLink href="ledger" class="nav-tab" ActiveClass="active">
            Mayor
        </NavLink>
        <NavLink href="balance" class="nav-tab" ActiveClass="active">
            Balance
        </NavLink>
        <NavLink href="maps" class="nav-tab" ActiveClass="active">
            Mapas
        </NavLink>
        <NavLink href="admin" class="nav-tab" ActiveClass="active">
            Administración
        </NavLink>
    </nav>

    <main class="main-content">
        @Body
    </main>
</div>
